@tailwind base;
@tailwind components;
@tailwind utilities;



/* #me {
  width: 300px;
  aspect-ratio: 1;
}

#me > Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#me:hover > Image {
  animation: pulse 800ms ease-in-out;
}

@keyframes pulse {
  from, to {
    scale: 1.0;
  }
  50% {
    scale: 1.5;
  }
} */